body {
    font-family: 'Rowdies', cursive;
    font-size: 16px;  
    box-sizing: border-box
}

/****HEADER****/
#header-nav {
    border-radius: 0;
    border: 0;
    padding-top: 15px;
    }

a {
    font-size: 2em;    
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    color: white;
}

a:hover, a:focus {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: darkblue;
}

.navbar-default .navbar-nav li a {
    background-color: darkcyan;
    text-align: center;
    font-size: 1.25em;
    border: 1px solid white;
    color: white;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
    color: black;
    background-color: teal;
    font-weight: bold;
}

.icon-bar {
    border: 1px solid white;
}

/****BODY****/
#content-title {
    color: black;
    padding-bottom: 10px;
}

h2{
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 10px;
}

#dish {    
    color: white;
    margin: 10px;
}

#dish-indiv {
    border: black solid 1px;
    padding: 15px;
    margin: 15px;
    background-color: rgb(65, 65, 192);
    margin-bottom: 20px;
    }

#back-to-top {
    color: white;
    text-align: right;
    margin-top: 10px;
    font-size: 0.75em;
}
